<% if(encryptedPassword != '') { %>
    <div class="alert alert-success alert-dismissible alert-success fade show" role="alert">
        <p>
            <i class="fa-solid fa-lock-open"></i>
            <strong>Encrypted password:</strong>
        </p>
        <p> <%= encryptedPassword %> </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% encryptedPassword = '' %>